<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>

<section class="full-width">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="text-align: center;" class="mb-4">Congraduations to You!</h1>
        <form action="/message" method="POST">
          <label for="messageCode" class="sr-only">Pass Code</label>
          <input type="text" class="form-control mb-2" id="messageCode" name="messageCode" placeholder="Enter your passcode here :)" />
          <button class="btn btn-block btn-primary" type="submit">Submit</button>
        </form>
      </div>
    </div>
  </div>
</section>

</body>
</html>
